@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #04162F;
  --loginBox:#112D54;
  --almostWhite: #D9D9D9;
  --grey: #a9a6a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background: var(--background);
    justify-content: center;
    align-items: center;
}
.blockInside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox{
    width: 400px;
    height: 515px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50px;
    background: var(--loginBox);
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.10);
}
.loginInside{
    width: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logoLogin{
    width: 90px;
    height: 100px;
    margin-bottom: 10px;
}
.buttonLogin{
    width: 220px;
    height: 50px;
    border-radius: 50px;
    margin-top: 30px !important;
    background: var(--almostWhite);
    color: var(--loginBox);
}
.buttonLogin:hover{
    background-color: var(--background);
    color: var(--almostWhite);
}
.textLogin{
    color: var(--grey);
    font-size:x-small;
    margin-top: 10px;
    text-align: center;
}
.textLogin a{
    text-decoration: underline;
    color: var(--almostWhite);
}
.error {
    color: var(--almostWhite);
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
.map{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../public/map.jpg") no-repeat center center fixed;
    background-size: cover;
}
.mapBox{
    height: 90%;
    width: 400px;
    position: absolute;
    top: 5%;
    left: 30px;
    border-radius: 50px;
    background: var(--loginBox);
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.10);
}
.parkingTitle{
    background-color: var(--almostWhite);
    width: 90%;
    height: 70px;
    border-radius: 50px;
    margin: 5%;
}
.parkingTitle h2{
    text-align: center;
    position: relative;
    top: 30%;
    font-weight:900;
    color: var(--loginBox);
}
.parkingContainer{
    display: flex;
    height: fit-content;
    padding: 0 5% 15px 5%;
    margin: 0 5%;
    border-color: var(--almostWhite);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-top:20px;
}
.parkingText{
    width: 70%;
}
.parkingText h3{
    font-size: 24px;
    font-weight: 900;
    color: var(--almostWhite);
}
.parkingText p{
    color: var(--grey);
    font-size: 13px;
}
.numberParking{
    width: 30%;
    background-color: var(--almostWhite);
    border-radius: 50px;
    text-align: center;
    
}
.numberParking p{
    color: var(--loginBox);
    position: relative;
    top: 30%;
    font-weight: 700;
}
#lastContainer{
    border: none;
}
.pin{
    width: 40px;
    height: 40px;
    background-color: var(--loginBox);
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    position: relative;
    text-align: center;
    padding-top: 8px;
    color: var(--almostWhite);
    font-weight: 500;
}
.pin p{
    transform: rotate(45deg);
}
.popupExt {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 99;
}
.popup {
    position: absolute;
    display: block;
    justify-content: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    width: 300px;
    height: 300px;
    background: var(--loginBox);
    border-radius: 50px;
    text-align: center;
}
.popup h1{
    color: white;
    font-weight: 700;
    font-size: 30px;
}
#uno{
    left: 74%;
    top: 40%;
}
#dos{
    left: 73%;
    top: 43%;
}
#tres{
    left: 30%;
    top: 23%;
}
#qu{
    left: 67%;
    top: -2%;
}
#cin{
    left: 75%;
    top: -5%;
}
#sei{
    left: 60%;
    top: -10%;
}